[submodule ".kakoune-idris"]
	path = .kakoune-idris
	url = /home/andreas/.kakoune-idris/
[submodule "/home/andreas/.kakoune-surround"]
	path = /home/andreas/.kakoune-surround
	url = https://github.com/h-youhei/kakoune-surround
