[submodule ".kakoune-idris"]
	path = .kakoune-idris
	url = git@github.com:stoand/kakoune-idris.git
[submodule ".kakoune-surround"]
	path = .kakoune-surround
	url = git@github.com:h-youhei/kakoune-surround.git
[submodule ".kakoune-formality"]
	path = .kakoune-formality
	url = git@github.com:stoand/kakoune-formality.git
[submodule ".kakoune"]
	path = .kakoune
	url = git@github.com:mawww/kakoune.git
